.code {
  display: flex;
}

.code-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.code-line {
  display: flex;
}

.code-id {
  width: 2.5em;
}

.code-bar {
}
.code-value {
}

.markdown {
  > * {
    padding: 2rem;
  }

  * {
    margin-bottom: 0;
    margin-top: 0;
  }
  h1 {
    font-size: xx-large;
    padding-bottom: 3rem;
    padding-top: 7rem;
  }
  h2 {
    font-size: x-large;
    padding-bottom: 1rem;
    padding-top: 3rem;
  }
  h3 {
    font-size: larger;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
  }
  h4 {
    font-size: large;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
  }
  h5 {
    font-size: medium;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
  }
  h6 {
    font-size: medium;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto,
      Arial, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Osaka, Meiryo, 'メイリオ',
      'MS Gothic', 'ＭＳ ゴシック', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
  }
  h1,
  figcaption {
    text-align: center;
  }
  figure {
    padding: 1rem 0;
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    pre {
      border-top: double 3px black;
      border-bottom: solid 1px black;
    }
  }
  table {
    margin: 0 auto;
    padding: 1rem 0;

    thead {
      border-top: double 3px black;
      border-bottom: solid 1px black;
    }
    tbody {
      border-bottom: solid 1px black;
    }
    caption {
      caption-side: top;
      text-align: center;
      padding: 0;
    }
    td,
    th {
      padding: 0 1rem;
    }
  }
  p {
    text-indent: 1rem;
  }
  ol,
  ul {
    padding: 0.5rem auto;
  }
}

@import '~highlight.js/scss/github.scss';
@import '~codemirror/lib/codemirror.css';
