$colors1: #d60068;
$colors2: #ba1a76;
$colors3: #a53b8c;
$colors4: #a47cc7;
$colors5: #a5a5e7;
$colors6: #7da2d2;
$colors7: #3f9bbe;
$colors8: #1ab0c9;
$colors9: #00c8d6;

// https://colormixer.web.app/01425c5ceaf0f0090000d632643c0201/dark
$dark1: #425c66;
$dark2: #586f95;
$dark3: #6c81c3;
$dark4: #8294e4;
$dark5: #96a6f1;
$dark6: #acb9ed;
$dark7: #c0cbe6;
$dark8: #d6dee7;
$dark9: #eaf0f1;

$enable-rounded: false;

// フォントを変える
$font-family-base: '游明朝', YuMincho, 'Hiragino Mincho ProN W3', 'ヒラギノ明朝 ProN W3',
  'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;

// テーマカラー設定
$theme-colors: (
  'primary': #d60068,
  'secondary': #00c8d6,
  'dark': #425c66,
  'light': #eaf0f1,
);

// ヒーロースペースの背景色
$jumbotron-bg: #d9f5ff;

html {
  font-size: 11pt;
}

@media print {
  * {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }

  *::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }

  .print_omit {
    display: none;
  }
}

@import '~bootstrap/scss/bootstrap.scss';
@import './mark/theme.scss';
