$re100vh: calc(100vh - 3.5rem);

body {
  font-size: medium;
}

.editor {
  overflow-y: scroll;
  padding: 0px;
  word-wrap: break-word;
  height: $re100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto,
    Arial, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Osaka, Meiryo, 'メイリオ', 'MS Gothic',
    'ＭＳ ゴシック', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  .CodeMirror {
    overflow-y: visible;
    min-height: $re100vh;

    * {
      font-size: 1em;
    }
  }

  .CodeMirror-sizer {
    padding: 1em 0px;
  }
}

.markdown {
  height: $re100vh;
  overflow-y: scroll;
  word-wrap: break-word;
}

.a4 {
  width: 210mm;
  min-height: 297mm;
}

#print_area {
  display: none;
}

@media print {
  .print_omit {
    display: none;
  }

  // .markdown {
  //   padding: 0;
  // }

  #print_area {
    display: inline;
  }
}
